{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block head %}

{% endblock%}

{% block main %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Weight</th>
            <th>Activity</th>
            <th>Consumption</th>
            <th>custom_food</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ deleted_rows["id"] }}</td>
            <td>{{ deleted_rows["username"] }}</td>
            <td>{{ deleted_rows["weight"] }}</td>
            <td>{{ deleted_rows["activity"] }}</td>
            <td>{{ deleted_rows["consumption"] }}</td>
            <td>{{ deleted_rows["custom_food"] }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}