{% extends "layout.html" %}

{% block title %}
Food Diary
{% endblock %}

{% block main %}
<h1>Food Diary</h1>
<p>Use the table below to add the food eaten to the food diary above.</p>



<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <form action="/change_day" method="post">
                    <input type="hidden" name="day" value="-1">
                    <button type="submit" class="nav-link">{{ session["date"] | date_format_previousday }}</button>
                </form>
            </li>
            <li class="nav-item">
                {% if session["date"] == session["today"] %}
                <form action="/change_day" method="post">
                    <input type="hidden" name="day" value="0">
                    <button type="submit" class="nav-link active" disabled>Today</button>
                </form>
                {% else %}
                <form action="/change_day" method="post">
                    <input type="hidden" name="day" value="0">
                    <button type="submit" class="nav-link active">Return to Today</button>
                </form>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if session["date"] < session["today"] %} <form action="/change_day" method="post">
                    <input type="hidden" name="day" value="1">
                    <button type="submit" class="nav-link">{{ session["date"] | date_format_nextday }}</button>
                    </form>
                    {% endif %}
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Food eaten on {{ session["date"] | date_format }}</h5>
        <p><i>Add food using the below list of foods</i></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Protein</th>
                    <th>Carbohydrate</th>
                    <th>Fat</th>
                    <th>Energy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for food in consumption %}
                <tr>
                    <td>{{ food["food_name"] }}</td>
                    <td>{{ food["amount"] | round(1) | gkg }}</td>
                    <td>{{ food["protein"] | round(1) | gkg }}</td>
                    <td>{{ food["carbohydrate"] | round(1) | gkg }}</td>
                    <td>{{ food["fat"] | round(1) | gkg }}</td>
                    <td>{{ food["energy"] | kcal }}</td>
                    <td>
                        <form action="/remove_diet_item" method="post">
                            <input type="hidden" id="id" name="consumption_id" value='{{ food["id"] }}'>
                            <button type="submit">-</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{ consumption | sum(attribute="amount") | round(1) | gkg }}</td>
                    <td>{{ consumption | sum(attribute="protein") | round(1) | gkg }}</td>
                    <td>{{ consumption | sum(attribute="carbohydrate") | round(1) | gkg }}</td>
                    <td>{{ consumption | sum(attribute="fat") | round(1) | gkg }}</td>
                    <td>{{ consumption | sum(attribute="energy") | round | int | kcal }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<br>



<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Add New...</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#AddFoodModal"
                            style="float: right">Ingredient</a></li>
                    <li><a class="dropdown-item" href="/mealcreation">Meal</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% if session["food_type"] == "%" %}
            <form action="/change_food_type" method="post">
                <input type="hidden" name="id" value="%">
                <button type="submit" class="nav-link active">All</button>
            </form>
            {% else %}
            <form action="/change_food_type" method="post">
                <input type="hidden" name="id" value="%">
                <button type="submit" class="nav-link">All</button>
            </form>
            {% endif %}
            {% for type in food_types %}
            {% if session["food_type"] | int == type["id"] %}
            <form action="/change_food_type" method="post">
                <input type="hidden" name="id" value='{{ type["id"] }}'>
                <button type="submit" class="nav-link active">{{ type["type"] }}</button>
            </form>
            {% else %}
            <form action="/change_food_type" method="post">
                <input type="hidden" name="id" value='{{ type["id"] }}'>
                <button type="submit" class="nav-link">{{ type["type"] }}</button>
            </form>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protein</th>
                    <th>Carbohydrate</th>
                    <th>Fat</th>
                    <th>Energy</th>
                    <th>Amount (g)</th>
                    <th>Add to food diary</th>
                </tr>
            </thead>
            <tbody>

                {% for food in foods %}
                <tr>
                    <form action="/diet_diary" method="post">
                        <td>{{ food["food_name"] }}<input type="hidden" id="food_name" name="name"
                                value='{{ food["food_name"] }}'></td>
                        <td>{{ food["protein"] | gkg }}<input type="hidden" id="protein" name="protein"
                                value='{{ food["protein"] }}'></td>
                        <td>{{ food["carbohydrate"] | gkg }}<input type="hidden" id="carbohydrate" name="carbohydrate"
                                value='{{ food["carbohydrate"] }}'></td>
                        <td>{{ food["fat"] | gkg }}<input type="hidden" id="fat" name="fat" value='{{ food["fat"] }}'>
                        </td>
                        <td>{{ food["energy"] |kcal }}<input type="hidden" id="energy" name="energy"
                                value='{{ food["energy"] }}'></td>
                        <td><input autocomplete="off" id="amount" name="amount" placeholder="Amount (g)" required
                                type="number"></td>
                        <td>
                            <input type="hidden" id="id" name="food_id" value='{{ food["id"] }}'>
                            <button type="submit">+</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddFoodModal" tabindex="-1" aria-labelledby="AddFoodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFoodModalLabel">Add Food or Ingredient to Catalog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Add ingredient form -->
                <form action="/customfood" method="post">
                    <table class="table table-sm">
                        <tr>
                            <td>Food Type</td>
                            <td>
                                <select name="food_type">
                                    {% for type in food_types %}
                                    <option value='{{ type["id"] }}'>{{ type["type"] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Food Name</td>
                            <td><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name"
                                    placeholder="Food Name" required type="text"></td>
                        </tr>
                        <tr>
                            <td>Protein</td>
                            <td><input class="form-control mx-auto w-auto" name="protein" placeholder="protein (g)"
                                    required type="text"></td>
                        </tr>
                        <tr>
                            <td>Carbohydrate</td>
                            <td><input class="form-control mx-auto w-auto" name="carbohydrate"
                                    placeholder="Carbohydrate (g)" required type="text"></td>
                        </tr>
                        <tr>
                            <td>Fat</td>
                            <td><input class="form-control mx-auto w-auto" name="fat" placeholder="Fat (g)" required
                                    type="text"></td>
                        </tr>
                        <tr>
                            <td>Energy</td>
                            <td><input class="form-control mx-auto w-auto" name="energy" placeholder="Energy (Kcal)"
                                    required type="text"></td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td><input class="form-control mx-auto w-auto" name="amount"
                                    placeholder="Serving Weight (g)" required type="text"></td>
                        </tr>
                    </table>
                    <button type="submit">Add food to catalog</button>
                </form>
            </div>

            <div class="modal-footer">
                <button data-bs-toggle="modal" data-bs-target="#helpModal"><i class="bi bi-question-square-fill"></i>
                    Help</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Add a new food or ingredient to the catalog from information found on packaging.</p>
                <img src="/static/images/food-label.jpg">
                <table class="table">
                    <tr>
                        <td class="table-secondary">Food Type</td>
                        <td>Select the most appropriate food catagarisation here</td>
                    </tr>
                    <tr>
                        <td class="table-secondary">Food Name</td>
                        <td>Input the name of the food</td>
                    </tr>
                    <tr>
                        <td class="table-secondary">Protein, Carbohydrate, Fat</td>
                        <td>Copy from the amount in grams</td>
                    </tr>
                    <tr>
                        <td class="table-secondary">Energy</td>
                        <td>Copy the amount in Kcal</td>
                    </tr>
                    <tr>
                        <td class="table-secondary">Weight</td>
                        <td>Copy the service size in grams</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button data-bs-toggle="modal" data-bs-target="#AddFoodModal">Back</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}